# **1. Data types**

- `int`: Integer
- `float`: Floating-point
- `complex`: Complex number
- `str`: String
- `list`: List
- `Dictionary`
- `Set`
- `Tuple`
- `Bool`

In [ ]:
print(type(10))                  # Int
print(type(3.14))                # Float
print(type(1 + 3j))              # Complex
print(type('Tien'))              # String
print(type([1, 2, 3]))           # List
print(type({'name':'Tien'}))     # Dictionary
print(type({9.8, 3.14, 2.7}))    # Set
print(type((9.8, 3.14, 2.7)))    # Tuple
print(type(3 == 3))              # Bool
print(type(3 >= 3))              # Bool

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'set'>
<class 'tuple'>
<class 'bool'>
<class 'bool'>

# **2. Operators**

## **2.1 Arithmetic Operator**

In [2]:
a = 6
b = 3
print(a + b)          # Addition
print(a - b)          # Subtraction
print(a * b)          # Multiplication
print(a / b)          # Division (Float)
print(a // b)         # Floor division (Int)
print(a % b)          # Modulus
print(a ** b)         # Exponentiation

9
3
18
2.0
2
0
216

## **2.2 Comparison operators**

In [3]:
print(3 > 2)
print(3 >= 2)
print(3 < 2)
print(2 < 3)
print(2 <= 3)
print(3 == 2)
print(3 != 2)
print(len('mango') == len('avocado'))
print(len('mango') != len('avocado'))
print(len('mango') < len('avocado'))
print(len('milk') != len('meat'))
print(len('milk') == len('meat'))
print(len('tomato') == len('potato'))
print(len('python') > len('dragon'))


# Comparing something gives either a True or False

print('True == True: ', True == True)
print('True == False: ', True == False)
print('False == False:', False == False)

True
True
False
True
True
False
True
False
True
True
False
True
True
False
True == True:  True
True == False:  False
False == False: True

## **2.3 Logical operators**

`and`: Chỉ True khi cả hai đều True

`or`: Chỉ False khi cả hai đều False

`not`: Phủ định của True và False

In [5]:
print(3 > 2 and 4 > 3) # True - because both statements are true
print(3 > 2 and 4 < 3) # False - because the second statement is false
print(3 < 2 and 4 < 3) # False - because both statements are false
print('True and True: ', True and True)
print(3 > 2 or 4 > 3)  # True - because both statements are true
print(3 > 2 or 4 < 3)  # True - because one of the statements is true
print(3 < 2 or 4 < 3)  # False - because both statements are false
print('True or False:', True or False)
print(not 3 > 2)     # False - because 3 > 2 is true, then not True gives False
print(not True)      # False - Negation, the not operator turns true to false
print(not False)     # True
print(not not True)  # True
print(not not False) # False

True
False
False
True and True:  True
True
True
False
True or False: True
False
False
True
True
False

## **2.4 Assignment operators**

In [7]:
a = 5
print(a)
a += 3
print(a)
a -= 3
print(a)
a *= 3
print(a)
a /= 3
print(a)

5
8
5
15
5.0

# **3. Order of operation**

Trong Python, người ta có quy định toán tử nào sẽ được ưu tiên thực hiện trước. Các phép tính
cùng thứ tự sẽ được thực hiện từ trái qua phải. Thứ tự như sau:
1. Phép mũ: **
2. Phép nhân, chia, phần dư và phép chia lấy phần nguyên: *, /, //
3. Phép cộng, trừ: +, -
4. Các toán tử so sánh: >, >=, <, <=
5. Các toán tử so sánh bằng: ==, !=
6. Các toán tử gán: =, %=, /=, //=, -=, +=, *=, **=

In [8]:
a = 5
a += 5 + 3 ** 2 * 5
print(a)

55

# **4. Mutable & Immutable**

## 4.1 Immutable Object

Bao gồm: `int`, `float`, `bool`, `string`

Đối tượng bất biến (Immutable Object) không thể thay đổi giá trị sau khi khởi tạo.

Immutable Object khi 'thay đổi' giá trị của một biến dữ liệu sẽ tạo ra một object mới với giá trị mới.

In [11]:
a = 4
print(id(a))
a = 5
print(id(a))

11654472
11654504

In [12]:
b = "Tien"
b[0] = "L"

TypeError: 'str' object does not support item assignment

## 4.2 Mutable Object

Bao gồm: `list`, `dict`, `set`

Đối tượng khả biến (Mutable Object) cho phép thêm và xóa phần tử.

Ngược lại với Immutable thì Mutable Object cho phép 'thay đổi' nội dung của object mà không tạo ra object mới.

In [13]:
lst = [1, 2, 3, 4]
print(id(lst))
lst.append(5)
print(id(lst))

136996562421184
136996562421184

# **5. Số thực trong Python**

## 5.1 Giá trị infinity

Giá trị inf thường gặp khi xảy ra hiện tượng tràn số (overflow) trong quá trình tính toán số thực.

In [1]:
a = 1e400
print(a)
print(type(a))

inf
<class 'float'>

## 5.2 Giá trị NaN (Not a number)

Giá trị NaN thường gặp thông qua các dữ liệu thô, phép tính vô nghĩa, gây ra các trường hợp vô định.

Các dạng vô định: $\frac{0}{0}, \frac{\infty}{\infty}, \infty - \infty, 0 \cdot \infty, 0^0, 1^\infty, \infty^0.$

In [8]:
print(float("inf") - float("inf"))
print(float("inf") / float("inf"))
print(0 * float("inf"))

nan
nan
nan

## 5.3 Sai số trong số thực

Các giá trị thực trong Python không được lưu chính xác mà được lưu bằng giá trị gần đúng,
do cơ chế dấu phẩy động (Floating point).

In [9]:
print(0.1 + 0.2 == 0.3)

False

# **6. Overflow and Underflow**

In [2]:
# Overflow là hiện tượng xảy ra khi một số vượt quá giới hạn trên của kiểu dữ liệu mà nó được lưu trữ.
a = 1e400
print(a)

inf

In [3]:
# Underflow là hiện tượng xảy ra khi một số rất nhỏ, gần bằng 0, không thể được biểu diễn chính xác trong kiểu dữ liệu số thực.
b = 1e-400
print(b)

0.0